@import "compass";
@import "compass/reset";
@import "compass/css3";

@import "base/variables";

body{ 
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #fff;
	font: 10pt "Tahoma";
	line-height: 2em;
	color: $base-content-fontcolor;
} 

img{
	max-width: 100%;
}

ol,	ul{
	list-style: none;
}

*{
	@include box-sizing(border-box);
}


.container{
	width: 210mm;
	min-height: 297mm;
	padding: 10mm;
	margin: 10mm auto;
	border: 1px #ebebeb solid;
	border-radius: 5px;
	@include box-shadow(0 0 5px rgba(0, 0, 0, 0.1));
}

.subpage {
	height: 277mm;
}


@container {
	size: A4;
	margin: 0;
}

@media print {
	html, body {
		width: 210mm;
		height: 297mm;        
	}

    .container {
		margin: 0;
		border: initial;
		border-radius: initial;
		width: initial;
		min-height: initial;
		box-shadow: initial;
		//background: initial;
		page-break-after: always;
	}
}


.guide{
	width: 150mm;
	padding: 16mm 0;
	margin: 0 auto;
	text-align: center;

	&-logo{
		width:35mm;
		margin: 0 auto;
		margin-bottom: 12mm;
	}

	&-slogan{
		color: $base-fontcolor-sec-highlight;
		font-size: 12pt;
		font-weight: bold;
		margin-bottom: 4mm;
	}

	&-content{
		//font-size: 12pt;
	}
}

.prodlist{
	display: block;
	font-size: 0;
	&-item{
		width: 94mm;
		margin-bottom:10mm;
		@include inline-block;
	}

	&-content{
		width:50mm;
		vertical-align: top;
		@include inline-block;
	}

	&-prod-img{
		width: 35mm;
		height: 35mm;
		margin-right: 3mm;
		//outline: 1px solid;
		@include inline-block;
		vertical-align: top;
	}

	&-prod-name{
		font-weight: bold;
		font-size: 12pt;
		padding: 2mm 0;
		color: $base-title-fontcolor;
		border-bottom: $base-border-color-heightlight 1px solid;
	}

	&-spec-list{
		display: block;
		padding: 3mm 0;
	}

	&-spec-item{
		@include inline-block;
		width: 37mm;
		font-size: 9pt;
		line-height: 10mm;
		margin-bottom: 2mm;
		em{
			width: 10mm;
			height: 10mm;
			margin-right: 2mm;
			text-align: center;
			color: #fff;
			@include border-radius(50%);
			@include inline-block;
			background: $base-bgcolor-heightlight;
			@include background(linear-gradient(#f5841f, #ed1c24));
		}
	}

	&-item.status-larger{
		width: 100%;

	}

	.status-larger &-content{
		width: 150mm;
	}
}

.page-head, .page-num{
	color: $base-fontcolor-deepdark;
	height: 4mm;
	//font-weight: bold;
	border-bottom: #484848 1px solid;
	text-align: center;
	i{
		background: #fff;
		padding: 0 3mm;
		@include inline-block;
	}
}

.page-head{
	font-weight: bold;
	margin-bottom: 8mm;
}

.page-num{
	i{
		min-width: 20mm;
	}
}



