.recipe{
	@extend %container-gutter;
	&-title{
		@extend %content-width;
		color: $base-title-fontcolor;
		font-size: $base-fontsize-large;
		font-weight: bold;
		margin-top: 1rem;
		@include breakpoint($tablet-width){
			font-size: $base-fontsize-xlarge;
			font-weight: normal;
			margin-bottom: 1.5rem;
		}
	}
}


.recipe-guide{
	@extend %content-width;
	@extend %container-gutter;
	@extend %clearfix;
	&-content{
		@include breakpoint($tablet-width){
			@include span(12);
		}
	}

	&-title{
		color: $base-title-fontcolor;
		font-weight: bold;
		margin-bottom: 1em;

		@include breakpoint($tablet-width){
			font-size: $base-fontsize-large;
		}
	}

	&-text{
		margin-bottom: 1.5em;
	}

	&-img{
		@include breakpoint($tablet-width){
			@include span(11 last);
		}
	}
}


.recipe-ingredient{
	@include module-subtitle(off,none);
	@extend %container-gutter;
	background: $base-bgcolor-lighten;

	&-subtitle{
		@extend %title-brand-recipe-ingredient;
	}

	&-list{
		@extend %clearfix;
		@extend %content-width;
	}

	&-item{
		width: 100%;
		margin-bottom: 30px;
		@include breakpoint($tablet-width){
			@include span(11);
			margin-bottom: 0;
		}

		caption{
			padding: 15px 0;
			color: $base-title-fontcolor;
			font-size: $base-fontsize-large;
			font-weight: bold;
		}

		th,td{
			border-bottom: $base-border-color-lighten 1px solid;
			padding: 15px 0;
			width: 50%;
			@include box-sizing(border-box);
			@include breakpoint($desktop-width){
				padding: 25px 10px;
			}
		}

		th{
			font-weight: bold;
			padding-right: 10px;
		}
	}

	&-item:nth-child(2n){
		@include last;
	}
}

.recipe-direction{
	@include module-subtitle(off,none);
	@extend %container-gutter;
	background: $base-bgcolor-lighten;

	&-subtitle{
		@extend %title-brand-recipe-direction;
	}

	&-step-list{
		@extend %content-width;
	}

	&-step-item{
		@extend %clearfix-both;
		position: relative;
		margin-bottom: 50px;

		@include breakpoint($tablet-width){
			margin-left: 30px;
		}
	}

	&-step-item:before{
		@include add-content(2em, 1em);
		position: absolute;
		left: -2.2em;
		top: 0;
		color: $base-fontcolor-deepdark;
		font-family: "Times New Roman";
		font-size: $base-fontsize-large;
		text-align: right;
		vertical-align: middle;
		letter-spacing: -1px;

		@include breakpoint($tablet-width){
			top: 4px;
		}

		@include breakpoint($desktop-width){
			top: 0;
			font-size: $base-fontsize-xlarge;
		}
	}

	&-step-item:nth-child(1):before{
		content: "1.";
	}

	&-step-item:nth-child(2):before{
		content: "2.";
	}

	&-step-item:nth-child(3):before{
		content: "3.";
	}

	&-step-item:nth-child(4):before{
		content: "4.";
	}

	&-step-item:nth-child(5):before{
		content: "5.";
	}

	&-step-item:nth-child(6):before{
		content: "6.";
	}

	&-step-item:nth-child(7):before{
		content: "7.";
	}

	&-step-item:nth-child(8):before{
		content: "8.";
	}

	&-step-item:nth-child(9):before{
		content: "9.";
	}

	&-step-item:nth-child(10):before{
		content: "10.";
	}

	&-step-content{
		font-size: $base-fontsize-mid;
		@include breakpoint($tablet-width){
			@include span(16);
			font-size: $base-fontsize-large;
			line-height: 1.5em;
		}
	}

	&-step-img{
		@include breakpoint($tablet-width){
			@include span(7 last);
		}
	}

	&-step-title{
		display: block;
		margin-bottom: 0.5rem;
		color: $base-title-fontcolor;
		font-weight: bold;
	}

	&-step-info{
		margin-bottom: 1rem;
	}

	&-step-img{
		img{
			@include border-radius(5px);
		}
	}

	&-tip{
		@include module-subtitle(off,none);
		margin-bottom: 20px;
	}

	&-tip-subtitle{
		@extend %title-brand-recipe-tip;
	}

	&-tip-content{
		@extend %container-width;
		@include border-radius(5px);
		@extend %clearfix-both;
		position: relative;
		background: $base-bgcolor-deepdark;
		padding: 4% 5%;
		padding: 4vw 5vw;
		@include breakpoint($desktop-width){
			padding: 40px;
		}
	}

	&-tip-text{
		@include span(15);
		min-height: 4.5em;
		@include breakpoint($tablet-width){
			@include span(17);
			min-height: 3em;
		}
	}

	&-tip-img{
		@include span(8 last);
		position: absolute;
		top: -40px;
		right: 5%;
		right: 5vw;
		text-align: right;

		@include breakpoint($tablet-width){
			@include span(6 last);
			top: -70px;
		}


		img{
			@include border-radius(50%);
		}
	}
}

