.attitudes{
	@include module-subtitle(off,titleLarge);
	@extend %container-gutter;
	background: $base-bgcolor-lighten;

	&-subtitle{
		@extend %title-brand-attitude;
	}

	&-content{
		@extend %content-width;

		@include breakpoint($desktop-width){
			width: $content-text-width;
		}

		p{
			margin-bottom: 1rem;
		}
	}
}

.topics{
	@include module-subtitle(off,none);
	@include topic-info(on);
	@extend %container-gutter;
	background: $base-bgcolor-darken;

	&-subtitle{
		@extend %title-brand-topics;
	}

	&-personalinfo{
		@extend %container-width;
		border: $base-border-color-lighten 1px solid;
		background: $base-bgcolor-lighten;
	}

	&-personalinfo{
		@include border-radius(6px 6px 0 0);
		@include box-sizing(border-box);
		@extend %clearfix;
		padding: 5%;
		padding: 5vw;
		border: $base-border-color-lighten 1px solid;

		@include breakpoint($tablet-width){
			padding: 40px;
		}
	}

	&-personalinfo-headimg{
		@include span(4);
		position: relative;

		img{
			@include border-radius(50%);
		}

		@include breakpoint($tablet-width){
			@include span(6);
			text-align: center;
		}
	}

	&-personalinfo-name{
		position: absolute;
		left: 125%;
		top: 0;
		width: 70%;
		width: 70vw;
		color: $base-fontcolor-darken;
		font-size: $base-fontsize-small;
		font-weight: bold;
		
		@include breakpoint($tablet-width){
			position: static;
			width:100%;
			text-align: center;
		}
	}

	&-personalinfo-title{
		@include span(20 last);
		@include box-sizing(border-box);
		margin: 1.4rem 0;
		padding-left:2%;
		color: $base-fontcolor-sec-highlight;
		font-size: $base-fontsize-small;
		
		@include breakpoint($tablet-width){
			@include span(18 last);
			font-size: $base-fontsize-mid;
			margin: 0.5rem 0;
			padding: 0;
		}
	}

	&-personalinfo-conent{
		@include box-sizing(border-box);
		clear: both;

		@include breakpoint($tablet-width){
			@include span(18 last);
			clear: none;
		}
	}

	&-list-footer{
		@extend %content-width;
		font-size: 0;
		padding: 12px 0;
		text-align: right;
		@include breakpoint($tablet-width){
			position: relative;
			width: 90%;
			padding: 20px 0;
		}
	}

	&-num{
		@extend .tablet-hidden;
		font-size: $base-fontsize-mid;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -12px;
	}

	&-folded-btn, &-more-btn{
		@include btn(inline-block,50%,small,toggleFolder);
	}

	&-folded-btn{
		border-right: $base-border-color-lighten 1px solid;
	}
}


.recipes{
	@include module-subtitle(on,none);
	@include recipelist;
	@extend %container-gutter;
	background: $base-bgcolor-darken;
	text-align: center;

	&-subtitle{
		@extend %title-brand-recipes;
	}

	&-totalnum{
		@extend %module-subtitle-totalnum;
	}

	&-more-btn{
		@include btn;
	}
}

