.shinho-group{
	@include module-subtitle(off,titleLarge);
	@extend %container-gutter;
	background: $base-bgcolor-lighten;
	text-align: center;

	&-subtitle{
		@extend %title-brand-group;
	}

	&-guides{
		@extend %content-width;
		@extend %clearfix;
	}

	&-guides-content{
		@include box-sizing(border-box);
		min-height: 120px;
		margin-bottom: 30px;
		padding-right: 105px;
		background: url(../imgs/shinho-guide-slogan.svg) no-repeat right top;
		@include background-size(100px 120px);
		text-align: left;

		@include breakpoint($desktop-width){
			@include span(11);
			@include background-size(180px 215px);
			min-height: 215px;
			padding-top: 70px;
			padding-right: 200px;
			
		}
	}

	&-guides-visual{
		img{
			width: 100%;
		}

		@include breakpoint($desktop-width){
			padding-top: 70px;
			@include span(12 last);
		}
	}
}


.shinho-group-book{
	@extend %container-gutter;
	@extend %content-width;
	@extend %clearfix;
	background: $base-bgcolor-lighten;

	&-o{
		@extend .tablet-hidden;
		@include breakpoint($desktop-width){
			@include span(11);
		}
	}

	&-o.status-fixed{
		position: fixed;
		top: 100px;
		width: 430px;
		left: 50%;
		margin-left: -480px; 
	}

	&-o-rotate{
		position: relative;
		width: 430px;
		height: 430px;
		@include transition(all .3s ease-in-out);
	}

	&-o-list{
		display: block;
		position: relative;
		top: -100px;
		width: 100%;
		height: 100%;
	}

	&-o-item{
		display: block;
		position: absolute;
		width: 52px;
		height: 110px;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		padding-bottom: 90px;
		background: $base-bgcolor-lighten;
		@include opacity(0);
		@include transition(all .2s ease-in-out);
		@include transform-origin(center,bottom);
	}

	&-o-item.status-up{
		z-index: 5;
		@include opacity(1);
	}

	@for $i from 0 through 10{
		.list-group-num-10 &-o-item:nth-child(10n+#{$i+1}){
			@include transform(rotate(#{$i*36}deg));
		}
	}


	@for $i from 0 through 11{
		.list-group-num-11 &-o-item:nth-child(11n+#{$i+1}){
			@include transform(rotate(#{$i*32.73}deg));
		}
	}


	@for $i from 0 through 12{
		.list-group-num-12 &-o-item:nth-child(12n+#{$i+1}){
			@include transform(rotate(#{$i*30}deg));
		}
	}

	&-o-prod{
		display: table-cell;
		width: 52px;
		height: 110px;
		vertical-align: bottom;
		text-align: center;

		img{
			max-height: 100%;
		}
	}

	&-list{
		@include breakpoint($desktop-width){
			@include span(12 last);
		}
	}

	&-item{
		text-align: right;
		a{
			padding: 25px 0;
			display: block;
		}
	}

	&-logo{
		display: table-cell;
		width: 100px;
		
		text-align: left;
		vertical-align: bottom;
		img{
			max-height: 83px;
		}

		@include breakpoint($desktop-width){
			height: 83px;

			img{
				max-height: 100%;
			}
		}
	}

	&-brandguide{
		color: $base-content-fontcolor;
		padding: 10px 0;
		margin-bottom:10px;
		text-align: left;
	}

	&-more-btn{
		@include btn(inline-block,auto,small,redRadius);
	}
}
