.prodlist{
	@include module-subtitle(on,titleLarge);
	@include prodlist(series,list);
	@extend %container-gutter;
	background: $base-bgcolor-darken;
	text-align: center; 

	&-subtitle{
		@extend %title-brand-all-prods;
	}

	&-download-btn, &-print-btn{
		@include btn(inline-block,auto,small,redRadius);
	}

	&-print-btn{
		margin-left: 15px;
	}

	&-totalnum{
		@extend %module-subtitle-totalnum;
	}
}