// 單元標題
.headline-title{
	position: relative;
	display: block;
	text-align: center;
	margin: 0 0 15px 0;
	@extend .font-size-16;
	@extend .line-height-24;
	@extend .fontcolor-black;
	@extend .font-weight-bold;
	@extend %text-hide;
	height: 90px;
	&:after{
		@include add-content(auto,27px);
		text-indent: 0;
		left: 50%;
		bottom:0;
		content: attr(title);
		@extend .bgcolor-highlight;
		@extend .fontcolor-white;
		@extend .line-height-20;
		z-index: 5;
		padding: 5px 6px;
	}
}

.headline-title.title-on-sale{
	background: url('../img/title/d-on.svg') no-repeat 18px 8px, url('../img/title/r-sale.svg') no-repeat right top;
	background: url('../img/title/d-on.png') no-repeat 18px 8px, url('../img/title/r-sale.png') no-repeat right top\9;
	&:after{
		margin-left: -38px;
	}
}

.headline-title.title-hot-deal{
	background: url('../img/title/d-hot.svg') no-repeat 0 3px, url('../img/title/r-deal.svg') no-repeat right top;
	background: url('../img/title/d-hot.png') no-repeat 0 3px, url('../img/title/r-deal.png') no-repeat right top\9;
	&:after{
		margin-left: -38px;
	}
}

.headline-slide{
	padding: 0 0 34px 0;
}

.headline-prod{
	//width: 220px;
	a{
		display: block;
	}
}

// 限時特價

.headline-prod-title, .headline-limited-sale-title{
	height: 45px;
	margin: 0 0 20px 0;
	overflow: hidden;
	@extend .font-size-15;
	@extend .line-height-24;
	@extend .fontcolor-black;
	@extend .font-weight-normal;
}

.headline-limited-sale-list{
	display: block;
	
	@extend .border-color;
	@extend .border-top-1;
	@extend .border-style-solid;
	li{
		display: block;
		width: 100%;
		@extend %text-overflow;
		@extend .border-color;
		@extend .border-bottom-1;
		@extend .border-style-solid;

		a{
			width: 100%;
			@extend %text-overflow;
			display: block;
			
			em{
				@extend .fontcolor-highlight;
				@extend .font-style-normal;
				padding: 0 8px 0 0;
			}
		}
	}
}

.headline-img{
	position: relative;
	width: 200px;
	height:250px;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom:10px;
	vertical-align: middle;
	line-height: 250px;
	img{
		line-height: 250px;
		vertical-align: middle;
	}
}






