.breadcrumb{
	@extend .font-size-12;
	@extend .line-height-24;
	@extend .fontcolor-gray;
	@extend .font-weight-normal;
	@include inline-block;
	margin: 0 0 40px 0;
	a{
		@extend .font-size-12;
		@extend .line-height-24;
		@extend .fontcolor-gray;
		@extend .font-weight-normal;
		@include inline-block;
		vertical-align: top;
		@include links-hover{
			@extend .text-decoration-underline;
		}
	}
	i{
		padding: 0 5px;
	}

	em{
		@extend .font-style-normal;
		@extend .fontcolor-highlight;
	}
}
