.campaign-tag-1{
	position: absolute;
	bottom: 20px;
	right: 10px;
	@extend .border-radius-half;
	width: 76px;
	height: 76px;
	@include box-sizing(border-box);
	padding: 8px 0 0 0;
	text-align: center;
	background: $maincolor-pink;
	.sale-price{
		@extend .fontcolor-white;
		@extend .line-height-20;
	}
	em{
		display: block;
		@extend .price-font;
		@extend .font-style-normal;
		@extend .font-size-24;
	}

	.orginal-price{
		@extend .fontcolor-black;
		@extend .text-decoration-line-through;
		@extend .font-size-12;
		@extend .line-height-18;
	}
}




