.m-comment{
	//@extend .m-prod-item-detail;
	margin: 0 0 70px 0 !important;
}

.m-comment-title{
	@extend .m-prod-item-detail-title;
}

.m-comment-top-column{
	position: relative;
	padding: 15px 0 25px 0;
	margin: 0 0 10px 0;
	@extend .border-bottom-1;
	@extend .border-style-solid;
	@extend .border-color;
}

.m-comment-post-btn, .m-comment-edit-btn{
	position: absolute;
	top: 50%;
	right: 0;
	margin: -20px 0 0 0;
	@extend .link-style-wr;
	@extend .font-size-12;
	padding: 5px 10px;
	i{
		@extend .font-size-15;
		padding: 0 0 0 5px;
	}
}

.m-comment-rate-num{
	@include inline-block;
	padding: 0 20px 0 12px;
	@extend .font-size-36;
	@extend .fontcolor-lightgray;
	@extend .line-height-36;
	em{
		@extend .font-style-normal;
		@extend .fontcolor-black;
	}
}

.m-comment-num{
	position: relative;
	top: 7px;
	@include inline-block;
}


.m-comment-total-rate{
	@include inline-block;
	width: 116px;
	position: relative;
	@extend .line-height-20;
	&-text{
		position: absolute;
		top: 1px;
		left: 110%;
		width: 100%;
		@extend .font-size-12;
		@extend .fontcolor-black;
		@extend .font-weight-bold;
	}

	.recent-rates, .base-rates{
		width: 116px;
		padding: 0 0 0 3px;
		@extend .font-size-20;
		@extend .line-height-20;
		@include inline-block;
		letter-spacing: 4px;
	}

	.recent-rates-mask{
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		height: $base-line-height*0.833;
		overflow: hidden;

		&.rate-10{
			width: 11%;
		}

		&.rate-20{
			width: 20%;
		}

		&.rate-30{
			width: 31%;
		}

		&.rate-40{
			width: 40%;
		}

		&.rate-50{
			width: 50%;
		}

		&.rate-60{
			width: 60%;
		}

		&.rate-70{
			width: 69%;
		}

		&.rate-80{
			width: 80%;
		}

		&.rate-90{
			width: 88%;
		}

		&.rate-100{
			width: 100%;
		}
	}

	.recent-rates{
		@extend .fontcolor-highlight;
	}

	.base-rates{
		@extend .fontcolor-lightgray;
	}

	.recent-rates, .base-rates{
		@extend %clearfix;
		i{
			float: left;
		}
	}

	&[data-concise="on"]{
		width: 84px;
		top: -1px;
		.recent-rates, .base-rates{
			width: 84px;
			@extend .font-size-13;
		}
	}
}

.m-comment-columns{
	margin: 0 0 30px 0;
}

.m-comment-list{
	display: block;
}

.m-comment-item{
	display: block;
	position: relative;
	padding: 15px 0 10px 115px;
	min-height: 120px;
	margin: 0 0 15px 0;
	@extend .border-bottom-1;
	@extend .border-style-solid;
	@extend .border-color;
}

.m-comment-member-column{
	position: absolute;
	top: 16px;
	left: 0;
	width: 110px;
	text-align: center;
}

.helpful-btn, .not-helpful-btn{
	@include inline-block;
}

.m-prod-comment-social{
	position: absolute;
	top: 15px;
	right: 0;
	width: 115px;
	text-align: center;
}

.m-comment-content{
	position: relative;
	width: 100%;
	padding: 0 140px 0 20px;
}

.comment-social-num{
	@include inline-block;
	text-align: center;
}

.m-comment-format{
	display: block;
}

.helpful-btn , .not-helpful-btn{
	width: 48%;
	@include inline-block;
	position: relative;
	padding: 0 0 5px 0;
	@include links{
		.helpful-icon{
			@extend .fontcolor-lightgray;
			@extend .border-color;
		}
	}

	@include links-hover{
		@extend .fontcolor-highlight;
		.helpful-icon{
			@extend .border-highlight;
			@extend .fontcolor-highlight;
		}

		&:before{
			@extend .fontcolor-highlight;
		}
	}

	&:before{
		@include add-content(100%,24px);
		content: attr(title);
		top: 100%;
		left: 0;
		@extend .fontcolor-black;
		@extend .font-size-12;
	}

	&.active{
		@extend .fontcolor-highlight;
		.helpful-icon{
			@extend .border-highlight;
			@extend .bgcolor-highlight;
			color: $base-fontcolor-white;
		}

		&:before{
			@extend .fontcolor-highlight;
		}
	}
}

.helpful-icon{
	width: 28px;
	height: 28px;
	padding: 1px 0 0 0;
	margin: 0 auto;
	@extend .font-size-16;
	@extend .border-radius-half;
	@extend .border-1;
	@extend .border-style-solid;
	overflow: hidden;
}

.m-comment-member{
	position: relative;
	@extend %clearfix;
	text-align: center;

	.m-comment-member-img{
		//float: left;
		display: block;
		margin: 0 auto;
		margin-bottom: 5px;
		width: 50px;
		height: 50px;
		//margin-right: 8px;
		overflow: hidden;
		@extend .border-radius-half;
		img{
			width: 100%;
			@extend .border-radius-half;
		}
	}

	.m-comment-member-name{
		@extend .fontcolor-black;
		margin: 0 0 5px 0;
		text-align: center;
		vertical-align: top;
		@extend %text-overflow;
		a{
			@extend .fontcolor-black;
			@extend .link-hover-underline;
		}
	}
}

.friend-add-btn{
	padding: 0 2px;
	@extend .link-style-rw;
	@extend .border-radius-xs;
	@extend .font-size-12;
	i{
		padding: 0 3px;
	}
}

.m-comment-format, .m-comment-reply-member-name{
	position: relative;
	@include inline-block;
	@extend .font-weight-normal;
	@extend .fontcolor-black;
	padding-right: 12px;
	margin-right: 12px;
	&:before{
		@include add-content(1px,10px);
		background: $border-color;
		top: 6px;
		right: -1px;
	}
}

.m-comment-rate{
	@extend %star-rate;
	margin-right: 40px;
}

.m-comment-article{
	display: block;
	padding: 10px 0 0 0;
	//max-height: 100px;
	margin-bottom: 20px;
	overflow: hidden;
	word-wrap: break-word;
	@extend .fontcolor-deepgray;
	font-family: $base-font-family;
	a{
		@extend .link-style-wr;
	}
}

.m-comment-posttime{
	position: absolute;
	right: 144px;
	@extend .fontcolor-sec-highlight;
}

.m-comment-img{
	display: none;
	font-size: 0;
	padding: 0 0 20px 0;
	li{
		@include inline-block;
		width: 102px;
		height: 102px;
		margin: 0 6px 6px 0;
		@extend .border-1;
		@extend .border-style-solid;
		@extend .border-color;
		overflow: hidden;
		a{
			display: block;
			text-align: center;
			vertical-align: middle;
		}

		&:nth-child(4n){
			margin: 0 0 6px 0;
		}

		@include breaks{
			margin: 0 6px 6px 0;
			&:nth-child(4n){
				margin: 0 6px 6px 0;
			}

			&:nth-child(6n){
				margin: 0 0 6px 0;
			}
		}
	}
}

.m-comment-reply{
	display: none;
	padding: 0 0 15px 0;
}

.m-comment-reply-btn{
	@include inline-block;
	width: 48%;
	@extend .fontcolor-sec-highlight;
	@extend .link-underline;
	em{
		@extend .font-style-normal;
	}
	i{
		@include inline-block;
		width: 10px;
	}
}

.m-comment-reply-list{
	display: none;
	padding: 30px 0 0 0;
	@extend .border-top-1;
	@extend .border-style-solid;
	@extend .border-color;
}

.m-comment-reply-item{
	position: relative;
	padding: 0 0 0 60px;
	margin: 0 0 20px 0;
	.m-comment-member{
		position: absolute;
		width: 45px;
		top: 5px;
		left: 0;

		.m-comment-member-img{
			width: 45px;
			height: 45px;
		}
	}

	.m-comment-posttime{
		right: 18px;
	}

	.m-comment-article{
		padding: 5px 0 0 0;
	}
}

.m-comment-reply-content{
	position: relative;
	@extend .border-1;
	@extend .border-style-solid;
	@extend .border-color;
	@include border-radius(15px);
	padding: 12px 15px;
	//@extend %clearfix;
	zoom: 1;
	height: auto;
	&:before, &:after{
		content:" ";
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		zoom:1;
		overflow:hidden;
		right: 100%;
	}

	&:before{
		border-width: 6px;
		@extend .border-style-solid;
		z-index: 10;
		top: 18px;
		border-color: transparent $base-bgcolor-white transparent transparent;
	}

	&:after{
		border-width: 8px;
		@extend .border-style-solid;
		z-index: 0;
		top: 16px;
		border-color: transparent $border-color transparent transparent;
	}
}

.m-comment-reply-textarea{
	width: 100%;
	@extend .border-1;
	@extend .border-style-solid;
	@extend .border-color;
	@extend .fontcolor-black;
	padding: 10px;
	margin: 5px 0 10px 0;
	color: #000;
	resize: none;
	&:focus{
		outline: none;
	}
}

.m-comment-reply-submit-btn{
	position: relative;
	left: 100%;
	margin: 0 0 0 -62px;
	@extend .link-style-wr;
	@extend .font-size-12;
}

.has-show{
	.m-comment-img, .m-comment-reply, .m-comment-reply-list, .m-comment-close-up-btn{
		display: block;
	}
}

.m-comment-close-up-btn{
	display: none;
	position: absolute;
	bottom: -10px;
	right: 0;
	padding: 10px;
	@extend .link-style-ul-red;
	@extend .link-underline;
	background: $base-bgcolor;
	i{
		padding-right: 5px;
	}
}

.m-comment-impeachment-btn{
	position: relative;
	margin-left: 8px;
	@include inline-block;
	color: lighten($maincolor-gray, 10);
	@extend .font-size-12;
	@extend .link-underline;
	i{
		position: relative;
		top: 1px;
		@extend .font-size-15;
		padding-right: 3px;
	}
}

//

.comments{
	position: relative;
	width: 700px;
	margin: 0 auto;
}

.comments-title{
	display: block;
	padding: 15px;
	border-width: 1px 0 1px 0;
	@extend .border-style-solid;
	@extend .border-color;
	@extend .fontcolor-black;
	@extend .font-size-15;
}

.comments-back-btn{
	position: absolute;
	top: -40px;
	left: 10px;
	@include inline-block;
	padding: 5px;
	@extend .link-style-ul-gray;
	@extend .link-underline;
	i{
		margin: 0 5px 0 0;
	}
}

.comment-store-list{
	display: block;
}

.comment-store{
	padding: 32px 15px 18px 15px;
	@extend .border-style-solid;
	@extend .border-color;
	@extend .border-bottom-1;
}

.comment-store-title{
	display: block;
	margin: 0 0 15px 0;
	@extend .font-weight-bold;
	@extend .fontcolor-black;
	@extend %text-overflow;
}

.comment-store-item{
	display: block;
	margin: 0 0 15px 0;
}

.comment-store-item-title{
	padding: 0 10px 0 0;
	@include inline-block;
}

.comment-prod{
}

.comment-prod-list{
	display: block;
}

.comment-prod-item{
	display: block;
	position: relative;
	min-height: 140px;
	//margin: 0 0 40px 0;
	padding: 25px 15px 25px 120px;
	@extend .border-style-solid;
	@extend .border-color;
	@extend .border-bottom-1;
}

.comment-prod-img{
	position: absolute;
	left: 15px;
	top: 28px;
	width: 75px;
	height: 93px;
	line-height: 91px;
	@extend .border-1;
	@extend .border-style-solid;
	@extend .border-color;
	a{
		display: block;
		line-height: 0;
		text-align: center;
		line-height: 91px;
		vertical-align: middle;
	}
}

.comment-prod-name{
	display: block;
	width: 100%;
	//padding: 5px 0;
	@extend .font-size-15;
	@extend .line-height-30;
	@extend .fontcolor-black;
	@extend .font-weight-normal;
	a{
		@extend .fontcolor-black;
	}
}

.comment-textarea{
	width: 100%;
	height: 60px;
	padding: 10px;
	@extend .border-1;
	@extend .border-style-solid;
	@extend .border-color;
	@extend .fontcolor-black;
	@include animate(height,0.5s,ease);
	color: #000;
	resize: none;
	&:focus, &.has-expand{
		outline: none;
		height: 200px;
	}

	.status-article &{
		display: none;
	}
}

.comment-prod-spec{
	margin-bottom: 8px;
}

// star

.comment-total-rate{
	@include inline-block;
	input{
		display: none;
	}

	div{
		@include inline-block;
		position: relative;

		span{
			@include inline-block;
			@extend .font-size-24;
		}
	}

	> i{
		display: none;
		@extend .font-size-15;
		@extend .fontcolor-highlight;
	}

	.star{
		position: absolute;
		top: 1px;
		left: 0;
		z-index: 1;
		color: transparent;
	}

	.star-base{
		@extend .fontcolor-lightgray;
	}
}

.comment-total-rate:after{
	content: "給個評分吧!";
	@extend .font-size-12;
	@extend .font-weight-bold;
	@include inline-block;
	padding: 0 0 0 8px;
	@extend .fontcolor-gray;
	
}

.has-select-1, .has-select-2, .has-select-3, .has-select-4, .has-select-5{
	&:after{
		@extend .fontcolor-highlight;
	}

	> i{
		@include inline-block;
		margin: 0 0 0 8px;
	}
}

.has-select-1:after, .has-select-2:after, .has-select-3:after, .has-select-4:after, .has-select-5:after{
	@extend .fontcolor-highlight;
}

.has-hover-1:after, .has-hover-2:after, .has-hover-3:after, .has-hover-4:after, .has-hover-5:after{
	@extend .fontcolor-sec-highlight;
}

.has-select-1:after, .has-hover-1:after{
	content:"很不滿意"; 
}

.has-select-2:after, .has-hover-2:after{
	content:"不滿意"; 
}

.has-select-3:after, .has-hover-3:after{
	content:"普通"; 
}

.has-select-4:after, .has-hover-4:after{
	content:"滿意"; 
}

.has-select-5:after, .has-hover-5:after{
	content:"非常滿意"; 
}

.has-select-1{
	.star-rate-1{
		.star{
			color: $base-fontcolor-highlight;
		}
		
	}
	.star-rate-2, .star-rate-3, .star-rate-4, .star-rate-5{
		.star{
			color: transparent;
		}
	}
}

.has-select-2{
	.star-rate-1, .star-rate-2{
		.star{
			color: $base-fontcolor-highlight;
		}
	}
	.star-rate-3, .star-rate-4, .star-rate-5{
		.star{
			color: transparent;
		}
	}
}

.has-select-3{
	.star-rate-1, .star-rate-2, .star-rate-3{
		.star{
			color: $base-fontcolor-highlight;
		}
	}
	.star-rate-4, .star-rate-5{
		.star{
			color: transparent;
		}
	}
}

.has-select-4{
	.star-rate-1, .star-rate-2, .star-rate-3, .star-rate-4{
		.star{
			color: $base-fontcolor-highlight;
		}
	}
	.star-rate-5{
		.star{
			color: transparent;
		}
	}
}

.has-select-5{
	.star-rate-1, .star-rate-2, .star-rate-3, .star-rate-4, .star-rate-5{
		.star{
			color: $base-fontcolor-highlight;
		}
	}
}

.has-hover-1{
	.star-rate-1{
		.star{
			color: $base-fontcolor-sec-highlight;
		}
		
	}
	.star-rate-2, .star-rate-3, .star-rate-4, .star-rate-5{
		.star{
			color: transparent;
		}
	}
}

.has-hover-2{
	.star-rate-1, .star-rate-2{
		.star{
			color: $base-fontcolor-sec-highlight;
		}
	}
	.star-rate-3, .star-rate-4, .star-rate-5{
		.star{
			color: transparent;
		}
	}
}

.has-hover-3{
	.star-rate-1, .star-rate-2, .star-rate-3{
		.star{
			color: $base-fontcolor-sec-highlight;
		}
	}
	.star-rate-4, .star-rate-5{
		.star{
			color: transparent;
		}
	}
}

.has-hover-4{
	.star-rate-1, .star-rate-2, .star-rate-3, .star-rate-4{
		.star{
			color: $base-fontcolor-sec-highlight;
		}
	}
	.star-rate-5{
		.star{
			color: transparent;
		}
	}
}

.has-hover-5{
	.star-rate-1, .star-rate-2, .star-rate-3, .star-rate-4, .star-rate-5{
		.star{
			color: $base-fontcolor-sec-highlight;
		}
	}
}

.comment-article{
	margin-top: 15px;
}

.comment-uploaded{
	display: block;
	margin: 20px 0 0 0;
}

.comment-uploaded-item{
	position: relative;
	@include inline-block;
	width: 277px;
	height: 76px;
	background: #f7f7f7;
	@include border-radius(10px);
	padding: 13px 16px;
	margin-bottom: 10px;
	&:nth-child(2n+1){
		margin-right: 6px;
	}
}

.comment-status-uploaded{
	position: relative;
	padding: 7px 0;
	text-align: right;
	
}

.comment-uploaded-foto{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	overflow: hidden;
	img{
		line-height: 0;
		vertical-align: middle;
	}
}

.comment-uploaded-fototext{
	width: 180px;
	
	&[type="text"]{
		border-color: $border-color;
		padding: 8px 6px;
	}

	.status-article &{
		border:none;
		background: none;
		&[type="text"]{
			color: $base-fontcolor-black;
		}

		&:focus{
			border:none;
		}
	}

		
}

.comment-uploaded-cancel-btn{
	position: absolute;
	top: -20px;
	right: -28px;
	z-index: 5;
	border: none;
	@extend .fontcolor-gray;
	@extend .font-size-20;
	background: none;
	@include links-hover{
		color:$base-fontcolor-black;
	}

	.status-article &{
		display: none;
	}
}

.comment-article-btns{
	margin: 10px 0 0 0;
	text-align: right;
	div{
		@include inline-block;
	}
}

.comment-upload-btn, .comment-submit-btn, .comment-edit-btn{
	margin: 0 0 0 6px;
	@extend .padding-md;
}

.comment-upload-btn{
	@extend .link-style-rw;
	padding: 3px 12px 4px;

}

.comment-submit-btn, .comment-edit-btn{
	@extend .link-style-wr;
}

.comment-text{
	display: none;
	@extend .fontcolor-black;
	font-family: $base-font-family;
	padding: 10px 0;
	.status-article &{
		display: block;
	}
}

.status-article .comment-uploaded-fototext{
	pointer-events: none;
}

.has-hide{
	display: none !important; 
}




