.extend-links{
	@extend .border-top-1;
	@extend .border-style-solid;
	@extend .border-color;
	padding: 25px 0;
	clear: both;
	&:after{
		content:" ";
		display: block;
		clear: both;
	}
	.extend-links-subscribe{
		@include span(17);
		input[type="button"], button{
			@extend .link-style-wr;
			@extend .padding-md;
		}

		input[type="text"]{
			@extend .width-xl;
			@extend .padding-md;
		}
	}
	.extend-links-appnshare{
		@include span(7 last);
		text-align: right;
		a{
			@include inline-block;
			margin-left: 10px;
			
			img{
				@include animate;
				@extend %img-hover-effect;
			}
		}
	}
}