.quantity{
	@include inline-block;
	vertical-align: middle;
	@extend .font-size-0;
	@extend .input-border-color;
	@extend .border-1;
	@extend .border-style-solid;
	overflow: hidden;
	span{
		@include inline-block;
		width: 28px;
		height: 32px;
		text-align: center;
		vertical-align: top;
		@extend .padding-xs;
		@extend .font-size-16;
		@extend .line-height-30;
		@extend .fontcolor-black;
	}
	.quantity-decrease{
		@extend .border-right-1;
		@extend .input-border-color;
		@extend .border-style-solid;
	}
	.quantity-increase{
		@extend .border-left-1;
		@extend .input-border-color;
		@extend .border-style-solid;
	}
	.quantity-input{
		@extend .width-mn;
		@extend .input-style-nn;
		@extend .border-radius-none;
		@extend .font-size-16;
		@extend .line-height-30;
		height: 30px;
		text-align: center;
	}
}



.quantity-s{
	@include inline-block;
	vertical-align: middle;
	@extend .font-size-0;
	@extend .input-border-color;
	@extend .border-1;
	@extend .border-style-solid;
	height: 24px;
	overflow: hidden;
	span{
		@include inline-block;
		width: 20px;
		height: 22px;
		text-align: center;
		vertical-align: top;
		@extend .padding-xs;
		@extend .font-size-13;
		@extend .line-height-20;
		@extend .fontcolor-black;
	}
	.quantity-decrease{
		@extend .border-right-1;
		@extend .input-border-color;
		@extend .border-style-solid;
	}
	.quantity-increase{
		@extend .border-left-1;
		@extend .input-border-color;
		@extend .border-style-solid;
	}
	.quantity-input{
		@extend .width-mt;
		@extend .input-style-nn;
		@extend .border-radius-none;
		@extend .font-size-13;
		@extend .line-height-20;
		height: 20px;
		text-align: center;
	}
}









