.pages{
	display: block;
	padding: 20px 0;
	text-align: center;
	.more-btn{
		display: block;
		padding: 0 0 10px 0;
		text-align: center;
		@extend .font-size-15;
		@extend .fontcolor-sec-highlight;
		a{
			display: block;
			@extend .link-hover-underline;
		}
		i{
			padding: 0 0 0 5px;
		}
	}
}

.pages-num{
	display: block;
	text-align: center;
	margin: 0 0 20px 0;
	li{
		@include inline-block;
		@extend .font-size-16;
		@extend .fontcolor-gray;
		margin: 0 2px;
		a{
			@include inline-block;
			@extend .font-size-16;
			@extend .fontcolor-gray;
			padding: 2px 8px 0 8px;
			@include links-hover{
				@extend .bgcolor-highlight;
				@extend .fontcolor-white;
			}
		}
	}
}

.pages-prev-btn, .pages-next-btn{
	@include inline-block;
	margin: 0 8px;
	@extend .link-style-rw;
	@extend .padding-xl;
	&.has-disable{
		@extend .link-style-gg;
	}
}

.pages-prev-btn{
	i{
		padding: 0 10px 0 0;
	}
}

.pages-next-btn{
	i{
		padding: 0 0 0 10px;
	}
}

.pages[data-concise="on"]{
	padding: 0;

	.pages-num{
		@include inline-block;
		padding: 0 30px;
		margin: 0;
	}

	.pages-prev-btn, .pages-next-btn{
		padding: 0;
		@extend .link-style-ul-red;
		@extend .link-hover-underline;
		&.has-disable{
			@extend .link-style-lg;
		}
	}
}
