.link-all-prods{
	display: block;
	margin: 0 0 40px 0;
	i{
		@extend .fontcolor-highlight;
		padding: 0 5px 0 0;
	}

	a{
		@extend .link-style-ul-red;
		@extend .link-underline;
		@extend .font-size-12;
	}
}

.prod-category-title{
	margin-bottom: 15px;
	@extend .font-size-24;
	@extend .line-height-36;
	@extend .fontcolor-black;
	@extend .font-weight-normal;
}

.prod-category-tab{
	display: block;
	margin-bottom: 20px;
	@extend .font-size-0;
	@extend .border-black;
	@extend .border-top-3;
	@extend .border-style-solid;
	position: relative;

	>li{
		@extend .border-color;
		@extend .border-bottom-1;
		@extend .border-style-solid;
		@include inline-block;
		width: 50%;

		a{
			position: relative;
			display: block;
			text-align: center;

			@include links{
				background: $base-bgcolor;
				@extend .font-size-15;
				@extend .line-height-36;
				@extend .fontcolor-gray;
			}

			@include links-hover{
				@extend .bgcolor-gray;
			}
		}
		&:last-child{
			border-width: 0 0 1px 1px;
		}
	}
}

.cate{
	display: block;
	margin-bottom: 30px;
}

.cate-name{
	display: block;
	padding: 8px 0;
	@extend .font-size-15;
	@extend .line-height-24;
	@extend .fontcolor-black;
	@extend .font-weight-bold;
}

.cate-list{
	display: block;
	@extend .border-color;
	@extend .border-1;
	@extend .border-style-solid;
	li{
		position: relative;
		display: block;
		@extend .border-color;
		@extend .border-bottom-1;
		@extend .border-style-solid;
		@extend .bgcolor-white;
		&:last-child{
			border:none;
		}

		a{

			padding: 6px 35px 6px 12px;
			display: block;
			cursor: pointer;
			@include links-hover{
				@extend .fontcolor-highlight;
			}
		}
		i{
			font-size: 16px;
			position: absolute;
			top: 50%;
			right: 14px;
			margin: -8px 0 0 0;
			@extend .fontcolor-highlight;
		}

		&.cate-more-btn{
			a{
				@extend .bgcolor-gray;
				@extend .fontcolor-black;
				@include links-hover{
					@extend .bgcolor-highlight;
					@extend .fontcolor-white;
				}
			}
			i{
				@extend .font-size-12;
				@extend .fontcolor-black;
				margin: -6px 0 0 0;
			}

			a:hover ~ i{
				@extend .fontcolor-white;
			} 
		}
	}
}

.cate-price{
	position: relative;
	padding: 0 52px 0 0;
	@extend .border-color;
	@extend .border-1;
	@extend .border-style-solid;
	background: $base-bgcolor;
	&:before{
		@include add-content(15px,auto);
		content: "-";
		top: 3px;
		left: 50%;
		margin: 0 0 0 -30px;
		z-index: 10;
	}
	input[type=text]{
		@extend .input-style-nn;
		@extend .padding-md;
		width: 48%;
	}

	input[type=button], button{
		position: absolute;
		right: 0;
		top: 0;
		@extend .link-style-rw;
		@extend .padding-md;
	}
}

.store-info{
	margin-bottom: 20px;
}

.store-info-logo{
	position: relative;
	padding-bottom: 30px;
	text-align: center;
	a{
		@include inline-block;
	}
	&:before{
		@include add-content;
		content: attr(data-store-name);
		bottom: 0;
		text-align: center;
		@extend .fontcolor-black;
	}
}

.store-info-rate{
	display: block;
	text-align: center;
	@extend .font-size-15;
	@extend .line-height-36;
	@extend .fontcolor-highlight;
	letter-spacing: 4px;
	em{
		position: relative;
		top: 5px;
		@extend .font-size-26;
		@extend .font-style-normal;
		letter-spacing: 0;
	}
}