
.headline-news-list{
	display: none;
	@include breaks{
		@include inline-block;
	}
	@include scrolling{
		display: none;
	}
	max-width: 100%;
	padding-top: 5px;
	height: $base-line-height;
	@extend %text-overflow;

	i{
		position: relative;
		@extend .font-size-15;
		vertical-align: middle;
		@extend .fontcolor-highlight;
	}

	>ul{
		@include inline-block;
		vertical-align: middle;
		li{
			padding: 0 5px 0 0;
		}

		li, a{
			@include inline-block;
			vertical-align: middle;
			@extend .font-size-13;
		}

		a{
			padding: 0 5px;
			@extend .fontcolor-black;
			@include links-hover{
				@extend .text-decoration-underline;
			}
		}
	}
}