.search-tool{
	padding: 18px 0 15px 0;
	@include scrolling(){
		text-align: left;
		padding: 18px 0 18px 0;
	}

	@include concise(){
		display: none;
	}

	@include simplify(){
		display: none;
	}

	vertical-align: middle;
	text-align: left;
	
	input[type="text"]{
		@extend .padding-md;
		@extend .border-radius-sm;
		width: 80%;
		@include breaks{
			width: 88%;
		}
	}

	input[type="button"], button{
		@extend .link-style-wr;
		@extend .border-radius-sm;
		@extend .padding-md;
	}
}





