.terms{
	@extend .fontcolor-black;
	position: relative;
}

.terms-title{
	display: block;
	margin: 0 0 30px 0;
	@extend .font-size-26;
	@extend .line-height-36;
	@extend .font-weight-normal;
}

.terms-article-title{
	@extend .font-size-18;
	@extend .line-height-30;
	@extend .font-weight-normal;
	margin: 0 0 10px 0;
}

.terms-article-preface{
	margin: 0 0 20px 0;
}

.terms-update-date{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	@extend .fontcolor-gray;
}

.terms-article{
	@extend .font-size-15;
	@extend .line-height-30;
}

.terms-article-list{
	display: block;
	@extend .font-weight-normal;
	padding: 0 0 0 25px;
	@extend .fontcolor-black;
	a{
		@include links{
			@extend .fontcolor-highlight;
			@extend .text-decoration-underline;
		}

		@include links-hover{
			@extend .text-decoration-none;
		}
	}
	
	.terms-article-list-title{
		padding: 20px 0 5px 0;
		@extend .fontcolor-black;
		@extend .font-weight-bold;
	
	}

	>li{
		list-style-type: disc;
		margin: 0 0 10px 0;
		p{
			@extend .fontcolor-gray;
			margin: 0 0 10px 0;
		}

		>ul{

			>li{
				list-style-type: decimal;
				>ul{
					padding-top: 15px;
					padding-bottom: 15px;
					>li{
						list-style-type: lower-alpha;
					}
				}
			}
		}
	}

	ul{
		@extend .fontcolor-gray;
		display: block;
		padding: 0 0 0 25px;
	}
	
}