
%common-container-width{
	width: $deskop-width;
	margin: 0 auto;
	min-width: $deskop-width;
	@include breakpoint($wide-deskop-width+50){
		width: $wide-deskop-width;
	}
}

%img-hover-effect{
	@include opacity(1);
	&:hover{
		@include opacity(.8);
	}
}

//清除浮動

%clearfix{
	height: auto;
	zoom:1;
	overflow:hidden;
}

%clearfix-both{
	&:after{
		display: block;
		content:" ";
		clear: both;
	}
}


//區塊內文字推出

%text-hide{
	white-space: nowrap;
	text-indent: 110%;
	overflow: hidden;
}

%title-hide{
	display: block;
	height: 0;
	overflow: hidden;
}

%text-overflow{
	text-overflow: ellipsis;
	white-space : nowrap;
	overflow: hidden;
}

%arrow{
	content:" ";
	position: absolute;
	display: block;
	width: 0;
	height: 0;
}

// 模板

%panel{
	position: absolute;
	display: block;
	padding: 30px 28px 15px 28px;
	background: $base-bgcolor-white;
	border:$border-color 1px solid;
	@include box-shadow(rgba(darken($border-color,50),0.2) 2px 2px 5px);
	z-index: 50;
	text-align: left;
}

%star-rate{
	@include inline-block;
	vertical-align: top;
	letter-spacing: 4px;
	color: $base-fontcolor-highlight;
	height: $base-line-height;
	overflow: hidden;
	&[data-rate="0.5"]{width: 7px;}
	&[data-rate="1"]{width: 14px;}
	&[data-rate="1.5"]{width: 23px;}
	&[data-rate="2"]{width: 29px;}
	&[data-rate="2.5"]{width: 39px;}
	&[data-rate="3"]{width: 46px;}
	&[data-rate="3.5"]{width: 55px;}
	&[data-rate="4"]{width: 61px;}
	&[data-rate="4.5"]{width: 71px;}
	&[data-rate="5"]{width: 77px;}

	span{
		display: block;
		width: 130px;
	}
}

    