@import "compass";
@import "compass/*";

@import "susy";
@import "breakpoint";

@import "partials/variables";
@import "partials/extend";
@import "partials/maxin";
@import "partials/common";
@import "partials/icons";

.prod-item-social-buying-title{
	display: block;
	@extend .fontcolor-black;
	@extend .font-size-15;
	margin: 0 0 15px 0;
	a{
		@include links{
			@extend .fontcolor-highlight;
		}

		@include links-hover{
			@extend .text-decoration-underline;
		}
	}
}

.prod-item-social-buying-list{
	display: block;
	font-size: 0;
	li{
		position: relative;
		@include inline-block;
		margin:0 9px 20px 0;
		a{
			@include inline-block;
			width: 45px;
			height: 45px;
			overflow: hidden;
			@extend .border-radius-half;

			img{
				@extend .border-radius-half;				
			}
		}
		
		&.has-recommend{
			:before{
				@include add-content(24px,22px);
				@extend .icons-talk;
				position: absolute;
				top: -10px;
				right: -10px;
			}
		}
	}
}