html, body{
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: $base-content-fontcolor;
	min-height: 100%;
}

a{
	//color: $base-fontcolor-gray;
}

a, a:link, a:active, a:visited, a:hover, a:focus{
	text-decoration: none;
}

img{
	max-width: 100%;
}

ol,	ul{
	list-style: none;
}











