

html, body{
	font-family:$base-font-family;
	@include font-setting($base-font-size,$base-line-height,$base-fontcolor-gray,normal,none);
	overflow-x: hidden;
}

a{
	color: $base-fontcolor-gray;
}

a, a:link, a:active, a:visited, a:hover, a:focus{
	text-decoration: none;
}

img{
	max-width: 100%;
}

input ,button{
	outline: 0;
	@include font-setting($base-font-size,$base-line-height*0.75,$base-fontcolor-gray,normal,none);
}

select{
	outline: 0;
	@include font-setting($base-font-size,$base-line-height,$base-fontcolor-gray,normal,none);
}

input[type="text"]{
	border:$input-border-color 1px solid;
	padding: 0 12px;
	&:focus{
		border-color:$border-highlight;
	}
}

input[type="button"], button{
	outline: 0;
	border:$input-border-color 1px solid;
	@include animate(all,0.3s,ease);
	cursor: pointer;	
}










