// Basic Grid

// flow: ltr, ltr(佈局元素從左到右) | rtl(佈局元素從右到左)
// math: fluid, fluid(流變%) | static(固定單位，依照column-width設定的單位是px或em)
// output: float, float(使用浮動概念) | isolate(為隔離獨立的概念，會產生重疊的可能)

// container: auto  指定總寬度 | auto自動計算
// container-position: center, center(置中) | left(置左) | right(置右)
// columns: 12, 欄位數項，若是手機優先，那代表手機的柵欄數量
// column-width: 60px, 指定柵欄寬度 | false/null(自動計算，但必須要當 math: fluid 流變的時候)
// gutters: 1/3, 溝相對於欄位的幾分之幾
// gutter-position: inside, before(在前方使用margin) | after(在後方使用margin) | split(在前後使用margin) | inside(在前後使用 padding 但網格的邊緣不會被刪除，當math: fluid的時候維持流變) | inside-static(在前後使用 padding 但網格的邊緣不會被刪除，當math: fluid的時候仍使用static固定單位)
// global-box-sizing: border-box, 全域的。border-box | content-box 一般狀況
// last-flow: to, from 當排列最後一個元素如 @include span(last 1 of 12); 時會從起始處往結尾排列過去，所以會造成往前一個元素靠，也就是套用 float:left 而不是 float:right | to 反之
// location: null, null | first/alpha | last/omega | 數字

// box-sizing: null, null | border-box | content-box
// spread: null, null | narrow 單一欄位寬度 | wide 單一欄位寬+單側gutter | wider 單一欄位寬+兩側gutter
// gutter-override: null, null | no-gutters/no-gutter 無溝, 如使用 span() 會不使用gutter做配合 | 獨立於整體背景欄位的 gutters: 1/3, 可自訂一個gutter數量如50px
// role: nest, null、nest



$susy:(
	flow: ltr, 
	math: fluid,
	output: float,
	container: auto,
	container-position: center,
	columns: 24,
	columns-width: 50px,
	gutters: 0,
	gutter-position: inside,
	global-box-sizing: border-box,
	last-flow: to,

	debug: (
		image: hide,
		color: #ededed,
		output: background,
		toggle: top right,
	),

	use-custom: (
		background-image: true,
		background-options: true,
		box-sizing: true,
		clearfix: false,
		rem: true,
	)
);

$grid-sitemap:(5 1/3 after);
