// Font Setting

$base-font-family				: "微軟正黑體", Helvetica, sans-serif, Verdana, Arial, sans-serif;
$base-font-size					: 13px;
$base-line-height				: 24px;
$rhythm-unit					: "px";

@include establish-baseline;



// Color Setting

$color-black					: #000;
$color-white					: #fff;

$maincolor-highlight			: #d61c31;
$maincolor-sec-highlight		: #e65c00;
$maincolor-gray					: lighten($color-black,61);
$maincolor-pink					: #f2bee0;
$maincolor-orange				: #f9d5cb;
$category-color-0				: #ffd4d9, #f6a6af, #d61c31; // 
$category-color-1				: #33ccff, #f2bee0, #ff44ad; // 生活品味
$category-color-2				: #39a3f2, #ffba7f, #ff7600; // 保健塑身
$category-color-3				: #ff44ad, #9ae6ff, #33ccff; // 美容保養
$category-color-4				: #ff7600, #9ae4de, #81d7d0; // 烹飪美食
$category-color-5				: #00a97f, #b5db83, #94dd33; // 親子教育
$category-color-6				: #bba280, #edd14e, #eec400; // 財經
$category-color-7				: #2ed9cf, #dccdb9, #bba280; // 專欄
$category-color-8				: #eec400, #96c9f6, #6cb4f7; // 商品鑑賞

// Font

$base-fontcolor-highlight		: $maincolor-highlight;
$base-fontcolor-sec-highlight	:$maincolor-sec-highlight;
$base-fontcolor-black			: $color-black;
$base-fontcolor-gray			: $maincolor-gray;
$base-fontcolor-lightgray		: lighten($maincolor-gray, 23);
$base-fontcolor-deepgray		: darken($maincolor-gray, 20);
$base-fontcolor-white			: $color-white;

// Background
$base-bgcolor					: #f9f9f9;
$base-bgcolor-highlight			: $maincolor-highlight;
$base-bgcolor-sec-highlight		: $maincolor-sec-highlight;
$base-bgcolor-black				: $color-black;
$base-bgcolor-gray				: lighten($maincolor-gray, 34);
$base-bgcolor-deepgray			: lighten($maincolor-gray, 23);
$base-bgcolor-darkgray			: lighten($maincolor-gray, 10);
$base-bgcolor-white				: $color-white;

// Elements

$base-titlecolor				: $color-black;
$prod-contentcolor				: darken($maincolor-gray, 9);
$ad-topper-bgcolor				: $color-black;
$header-bgcolor					: $color-white;

// Border

$border-color 					: lighten($maincolor-gray, 31);
$border-highlight				: $maincolor-highlight;
$border-black					: $color-black;
$border-gray					: lighten($maincolor-gray, 21);
$input-border-color				: lighten($maincolor-gray, 21);
$border-prod					: lighten($maincolor-gray, 35);


// Screen Setting

$wide-deskop-width				: 1200px;
$deskop-width					: 950px;

// Num


