@mixin newslist($series:list){
	&-list{
		@extend %container-width;
		@extend %clearfix-both;
		display: block;
		margin-bottom: 1rem;
		position: relative;
	}

	&-item{
		@include box-sizing(border-box);
		@include border-radius(5px);
		background: $base-bgcolor-lighten;
		border: $base-border-color-lighten 1px solid;
		text-align: center;
		//padding: 25px 0;

		a{
			display: block;
		}
	}

	&-item:before{
		//@include breakpoint($tablet-width){
			@include add-content(100%,100%);
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			background: rgba(#fff,.7);
			z-index: -1;
		//}
	}

	&-item:hover, &-item.selected{
		@include box-shadow(0 0 14px rgba(#000,0.15));
	}

	&-img{
		width: 100%;
		border-bottom: $base-border-color-heightlight 3px solid;
		img{
			width:100%;
			@include border-radius(5px 5px 0 0);
			display: block;
		}
	}

	&-title{
		//width: 110%;
		//height: 3rem;
		margin-top: 15px;
		//margin-left:-5%;
		color: $base-title-fontcolor;
		font-size: $base-fontsize-mid;
		font-weight: bold;
		//overflow: hidden;
		text-align: center;
	}	

	@if $series == list{

		&-notice{
			@extend %container-width;
			@include border-radius(5px);
			background: $base-bgcolor-lighten;
			margin-bottom: 2%;
			padding: 10%;
			border: $base-border-color-lighten 1px solid;

			@include breakpoint($tablet-width){
				padding: 25px 10%;
			}
		}
		
		&-item{
			margin-bottom: 3%;

			@include breakpoint($tablet-width){
				margin-bottom: 2%;
			}
			
			@include breakpoint($tablet-width){
				@include span(12);
			}

			@include breakpoint($desktop-width){
				@include span(8);
			}
			
		}

		&-item:nth-child(2n){
			@include breakpoint($tablet-width){
				@include last;
			}

			@include breakpoint($desktop-width){
				float: left;
				margin-right: gutter();
			}
		}

		&-item:nth-child(3n){
			@include breakpoint($desktop-width){
				@include last;
			}
		}

		&-item.selected{
			@include breakpoint($tablet-width){
				position: absolute;
				//height: 500px;
				z-index: 5;
			}
		}

		&-item.selected:before{
			@include breakpoint($tablet-width){
				display:block;
			}
		}
	}

	
	
	@if $series == box{
		&-item{
			
			@include span(12);
			margin-bottom: 2%;

			@include breakpoint($tablet-width){
				@include span(6);
			}
		}

		&-item:nth-child(even){
			@include last;

			@include breakpoint($tablet-width){
			float: left;
			margin-right: gutter();
			}
		}

		&-item:nth-child(4n){
			@include breakpoint($tablet-width){
				@include last;
			}
		}
	}
}

