@mixin btn($displayStatus:inline-block,$width:auto,$size:large,$style:redRadius){

	width: $width;
	
	&:focus{
		outline: none;
	}

	@if $displayStatus == inline-block{
		@include inline-block;
	}

	@if $displayStatus == block{
		display: block;
	}

	@if $size == large{		

		@if $style == redRadius{
			@include border-radius(28px); 
			padding: 12px 40px;
			font-size: $base-fontsize-mid;
			font-weight: normal;
		}
	}

	@if $size == small{
		@if $style == toggleFolder{
			@include box-sizing(border-box);
			padding: 5px 13px;
			color: $base-fontcolor-highlight;
			font-size: $base-fontsize-mid;
			text-align: center;
			
			i{
				margin-left: 5px;
				font-size: $base-fontsize-small;
			}

			@include breakpoint($tablet-width){
				@include border-radius(17px);
				@include hover-transition;
				width: auto;
				margin-left: 5px;
				padding: 5px 10px 5px 15px;
				background: $base-button-bgcolor;
				border: none;
				color: $base-fontcolor-bright;
				font-size: $base-fontsize-small;
				font-weight: normal;
				&:hover{
					background: $base-button-hover-bgcolor;
				}
			}
		}

		@if $style == redRadius{
			@include border-radius(17px); 
			padding: 5px 13px;
			font-size: $base-fontsize-small;
			font-weight: normal;
		}
	}

	@if $style == redRadius{
		background: $base-button-bgcolor;
		border: none;
		color: $base-fontcolor-bright;
		line-height: $base-line-height;
		@include hover-transition;
		&:hover{
			background: $base-button-hover-bgcolor;
		}
	}

	@if $style == toggleFolder{
		font-weight: normal;
		line-height: $base-line-height;
	}
}

/*
.more-recipes-btn{
	@include btn;
}*/

