@mixin prodlist($status:no-series,$series:list){
	&-list{
		@extend %container-width;
		@extend %clearfix-both;
		display: block;
		margin-bottom: 1rem;
		position: relative;
	}

	&-item{
		@include box-sizing(border-box);
		@include border-radius(5px);
		@include hover-transition(box-shadow);
		background: $base-bgcolor-lighten;
		border: $base-border-color-lighten 1px solid;
		text-align: center;

		a{
			display: block;
		}
	}

	&-item:hover, &-item.selected{
		@include box-shadow(0 0 14px rgba(#000,0.15));
	}

	&-img{
		width: 80%;
		margin: 0 auto;
		img{
			width:85%;
			max-width: 250px;
		}
	}

	&-title{
		//width: 110%;
		//height: 3rem;
		margin-top: 15px;
		//margin-left:-5%;
		color: $base-title-fontcolor;
		font-size: $base-fontsize-mid;
		font-weight: bold;
		//overflow: hidden;
		text-align: center;
	}	


	@if $status == series{ // 系列
		@if $series == box{

			&-item{
				a{
					min-height: 242px;

					@include breakpoint(380px){
						min-height: 258px;
					}

					@include breakpoint(450px){
						min-height: 274px;
					}
					
					@include box-sizing(border-box);

					@include breakpoint(550px){
						min-height: 330px;
					}

					@include breakpoint($tablet-width){
						min-height: 255px;
					}

					@include breakpoint($desktop-width){
						min-height: 272px;
					}
				}
			}

			&-item:first-child{
				a{
					background-position: center;
					@include background-size(cover);
					background-repeat: no-repeat;
					//min-height: 272px;
					@include border-radius(5px);
					overflow: hidden;
				}
				
			}

			&-category, &-guide{
				display: block;
				margin: 0 auto;
				width: 80%;
			}

			&-category{
				color: $base-title-fontcolor;
				font-weight: bold;
				margin-top: 15px;
				padding: 10px 0;
			}

			&-guide{
				color: $base-content-fontcolor;
				font-size: $base-fontsize-small;
				@include breakpoint($tablet-width){
					font-size: $base-fontsize-mid;
				}
			}
		}
	}

	@if $series == list{

		&-notice{
			@extend %container-width;
			@include border-radius(5px);
			background: $base-bgcolor-lighten;
			margin-bottom: 2%;
			padding: 10%;
			border: $base-border-color-lighten 1px solid;

			@include breakpoint($tablet-width){
				padding: 25px 10%;
			}
		}

		&-series-nav{
			display: block;
			@extend %content-width;
			margin-bottom: 20px;
			font-size: 0;
			text-align: left;
			@include breakpoint($desktop-width){
				text-align: center;
				@include inline-block;
				width: auto;
				margin-bottom: 30px;
				overflow: hidden;
				border: $base-border-color-heightlight 1px solid;
				@include border-radius(50px);
			}

			li{
				@include inline-block;
				@include box-sizing(border-box);
				width: 50%;
				padding: 0 5px;
				margin-bottom: 10px;
				font-size: $base-fontsize-small;
				@include breakpoint($tablet-width){
					width: 33.3%;
				}

				@include breakpoint($desktop-width){
					width: auto;
					font-size: $base-fontsize-mid;
					padding: 0;
					margin: 0;
					border-right: $base-border-color-heightlight 1px solid;
				}
			}

			li:last-child{
				@include breakpoint($desktop-width){
					border: none;
				}
			}

			a{
				display: block;
				padding: 5px 0;
				text-align: center;
				color: $base-fontcolor-highlight;
				border: $base-border-color-heightlight 1px solid;
				@include border-radius(50px);

				@include breakpoint($desktop-width){
					@include border-radius(0);
					border: none;
					padding: 10px 35px;
				}
			}

			a:hover, a.selected{
				background: $base-bgcolor-heightlight;
				color: $base-fontcolor-bright;
			}
		}
		
		&-item{
			margin-bottom: 3%;
			padding: 25px 0;

			@include breakpoint($tablet-width){
				margin-bottom: 2%;
			}
			
			@include breakpoint($tablet-width){
				@include span(12);
			}

			@include breakpoint($desktop-width){
				@include span(8);
			}
			
		}

		&-item:nth-child(2n){
			@include breakpoint($tablet-width){
				@include last;
			}

			@include breakpoint($desktop-width){
				float: left;
				margin-right: gutter();
			}
		}

		&-item:nth-child(3n){
			@include breakpoint($desktop-width){
				@include last;
			}
		}

		&-item.selected{
			@include breakpoint($tablet-width){
				position: absolute;
				//height: 500px;
				z-index: 5;
			}
		}

		&-item.selected:before{
			@include breakpoint($tablet-width){
				display:block;
			}
		}

		&-item:before{
		//@include breakpoint($tablet-width){
			@include add-content(100%,100%);
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			background: rgba(#fff,.7);
			z-index: -1;
		//}
		}

		&-spec{
			width: 80%;
			margin: 0 auto;
			margin-top: 15px;
			padding-top: 10px;
			border-top: $base-border-color-heightlight 1px solid;
			font-size: $base-fontsize-ssmall;
			text-align: center;

			@include breakpoint($tablet-width){
				height: 5.5em;
			}
		}

		&-spec-list{
			//position: relative;
			display:block;
			color: $base-content-fontcolor;
			text-align: left;
			@extend %clearfix;
		}

		&-spec-item{
			@include span(12);
			@extend %text-overflow;
			b{
				font-weight: bold;
				margin-right: 8px;
			}
		}

		&-spec-item:nth-child(2n){
			@include last;
		}

		&-spec-expand-btn, &-spec-fold-btn{
			@include btn(inline-block,100%,small,toggleFolder);
			position: relative;
			top: 10px;
		}
	}

	
	
	@if $series == box{
		&-item{
			
			@include span(12);
			margin-bottom: 2%;

			@include breakpoint($tablet-width){
				@include span(6);
			}

			a{
				padding: 25px 0;
			}
		}

		&-item:nth-child(even){
			@include last;

			@include breakpoint($tablet-width){
			float: left;
			margin-right: gutter();
			}
		}

		&-item:nth-child(4n){
			@include breakpoint($tablet-width){
				@include last;
			}
		}

		&-seriesnum{
			@extend %content-width;
			display: block;
			padding: 15px 5px;
			padding-top: 0;
			text-align: right;
			font-size: $base-fontsize-small;
			b{
				padding: 0 3px; 
				font-weight: bold;
			}
		}
	}
}

