.icons-history{
	background: url('../img/icons/icons-history.svg') no-repeat center top;
	background: url('../img/icons/icons-history.png') no-repeat center top \9;
}

.icons-cart{
	background: url('../img/icons/icons-cart.svg') no-repeat center top;
	background: url('../img/icons/icons-cart.png') no-repeat center top \9;
}

.icons-wishlist{
	background: url('../img/icons/icons-heart.svg') no-repeat center top;
	background: url('../img/icons/icons-heart.png') no-repeat center top \9;
}

.icons-wallet{
	background: url('../img/icons/icons-wallet.svg') no-repeat center top;
	background: url('../img/icons/icons-wallet.png') no-repeat center top \9;
}

.icons-arrow-right{
	background: url('../img/icons/icons-arrow-right.svg') no-repeat right center;
	background: url('../img/icons/icons-arrow-right.png') no-repeat right center \9;
}

.icons-talk{
	background: url('../img/icons/icons-talk.svg') no-repeat center;
	background: url('../img/icons/icons-talk.png') no-repeat center \9;
}


.icons-coin{
	background: url('../img/icons/icons-coin.svg') no-repeat center;
	background: url('../img/icons/icons-coin.png') no-repeat center \9;
}

.icons-coupon{
	background: url('../img/icons/icons-coupon.svg') no-repeat center;
	background: url('../img/icons/icons-coupon.png') no-repeat center \9;	
}

.icons-diamond{
	background: url('../img/icons/icons-diamond.svg') no-repeat center;
	background: url('../img/icons/icons-diamond.png') no-repeat center \9;	
}
