@mixin font-setting($font-size,$line-height,$color,$weight,$text-decoration){ 
	font-size: $font-size;
	line-height: $line-height;
	color: $color;
	font-weight: $weight;
	text-decoration: $text-decoration;
}

@mixin background-setting($name,$bg,$color,$position,$repeat,$size){
	background:$color url("../img/#{$name}.#{$bg}") $position $repeat;
	@include background-size($size);
}

// fullscreen

@mixin fullscreen-setting($height:100%){ 
	width:100%;
	height:$height;
}

//clearfix

@mixin clearfix($height:auto){ 
	height: $height;
	zoom:1;
	overflow:hidden;
}

@mixin text-overflow-setting($white-space:nowrap){
	text-overflow:ellipsis;
	white-space : $white-space;
	overflow: hidden;
}

// 使用副元素增加內容

@mixin add-content($width:100%,$height:auto){ 
	content:" ";
	position: absolute;
	display: block;
	width:$width;
	height: $height;
	zoom:1;
	overflow:hidden;
}

@mixin tilt-setting($degree,$path:bottom){ 
	-webkit-transform-origin:$path;
	-moz-transform-origin:$path;
	-o-transform-origin:$path;
	transform-origin:$path;
	-webkit-transform:skewX($degree);
	-moz-transform:skewX($degree);
	-o-transform:skewX($degree);
	transform:skewX($degree);
}

// animate

@mixin animate($property:all,$sec:0.5s,$animation:ease){
	@include transition-property($property);
	@include transition-duration($sec);
	@include transition-timing-function($animation);
}

// a-link style helper

@mixin links{
	&, &:link, &:visited{
		@content;
	}
}

@mixin links-hover{
	&:active, &:hover, &.active{
		@content;
	}
}

@mixin btn-hover-effect($color){
	background: darken($color,5);
}

@mixin sprite-setting($size){
	@include inline-block;
	width: $size;
	height: $size;
	@include background-size(auto $size);	
}


@mixin breaks($screen:$wide-deskop-width+50){
	@include breakpoint($screen){
		@content;
	}
}

@mixin scrolling{
	.scrolling &{
		@content;
	}
}

@mixin concise{
	.concise &{
		@content;
	}
}

@mixin simplify{
	.simplify &{
		@content;
	}
}

// 箭頭

@mixin arrow($direct:down,$arrow-size:6px,$bg-color:$base-bgcolor-white,$border-color:$border-color){
	&:before,&:after{
		content:" ";
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		zoom:1;
		overflow:hidden;
		left: 50%;
		margin-left: $arrow-size * -1;
	}

	&:before{
		border: $bg-color $arrow-size solid;
		z-index: 10;
		@if $direct == up{
			top: $arrow-size * -2;
			border-color: transparent transparent $bg-color transparent;
		}@else{
			bottom: $arrow-size * -2;
			border-color: $bg-color transparent transparent transparent;
		}
	}
	&:after{
		border: $border-color $arrow-size + 2 solid;
		margin-left: ($arrow-size + 2) * -1;
		z-index: 0;
		@if $direct == up{
			top: ($arrow-size + 2) * -2;
			border-color: transparent transparent $border-color transparent;
		}@else{
			bottom: ($arrow-size + 2) * -2;
			border-color: $border-color transparent transparent transparent;
		}
	}
}