.breadcrumb{
	@extend %container-width;
	@extend .tablet-hidden;
	padding: 18px 0;

	@include breakpoint($tablet-width){
		display: block; 
	}
	a{
		position: relative;
		color: $base-fontcolor-highlight;
		margin-right: 25px;
	}

	a:after{
		position: absolute;
		right: -25px;
		top: -5px;
		content: ">";
		color: $base-fontcolor-darken;
		padding: 0 8px;
	}

	a:hover{
		border-bottom: $base-border-color-heightlight 1px solid;
	}
}
