.footer{
	background: $base-bgcolor-lighten;
	border-top: $base-border-color-lighten 1px solid;
	&-container{
		@extend %content-width;
		@extend %container-gutter;
		@extend %clearfix;
	}

	&-shinho{
		@extend %clearfix;
		margin-bottom: 30px;

		@include breakpoint($desktop-width){
			@include span(8);
		}
		
	}

	&-shinho-logo{
		@include span(9);
		@include breakpoint($tablet-width){
			@include span(6);
		}
		@include breakpoint($desktop-width){
			width: 100%;
			float: none;
			margin: 0;
			margin-bottom: 30px;
		}
		img{
			max-width: 170px;
		}
	}

	&-shinho-info{
		@include span(14 last);
		font-size: $base-fontsize-ssmall;
		@include breakpoint($tablet-width){
			@include span(17 last);
		}
		@include breakpoint($desktop-width){
			width: 100%;
			float: none;
			margin: 0;
		} 
	}

	&-shinho-name{
		@include breakpoint($desktop-width){
			font-size: $base-fontsize-mid;
		}
	}

	&-shinho-tel, &-shinho-add{
		@include breakpoint($desktop-width){
			font-size: $base-fontsize-small;
		}
	}

	&-linklist{
		@extend %clearfix;
		display: block;
		font-size: $base-fontsize-small;
		@include breakpoint($desktop-width){
			font-size: $base-fontsize-mid;
			@include span(16 last);
		}

		a{
			display: block;
			padding: 6px 0;
			color: $base-fontcolor-darken;
		}

		a:hover{
			text-decoration: underline;
		}
	}

	&-sitemap{
		display: block;
		@include breakpoint($desktop-width){
			@include span(18);
		}
	}

	&-sitemap, &-site-recommend, &-online-shoppingmall{
		margin-bottom: 20px;
		&-title{
			border-bottom: $base-border-color-darken 1px solid;
			padding: 8px 0;
			margin-bottom: 8px;
			font-size: $base-fontsize-mid;
		}
	}

	&-site-recommend, &-online-shoppingmall{
		@include breakpoint($desktop-width){
			@include span(5 last);
		}
	}

	&-site-recommend-links, &-online-shoppingmall-links{
		display: block;
		@extend %clearfix;

		li{
			display: block;
			@include span(8);
			font-weight: bold;
			@include breakpoint($desktop-width){
				float: none;
				width: 100%;
				margin: 0;
			}
		}

		li:nth-child(3n){
			@include last;
			@include breakpoint($desktop-width){
				float: none;
				width: 100%;
				margin: 0;
			}
		}
	}

	

	&-sitemap-cols{
		display: block;
		@extend %clearfix;
	}

	&-sitemap-col{
		@include breakpoint($desktop-width){
			@include span(8);
		}
	}

	&-sitemap-col:nth-child(3n){
		
		@include breakpoint($desktop-width){
			@include last;
		}
	}


	&-sitemap-cates{
		display: block;
		font-weight: bold;
	}

	&-sitemap-subs{
		display: block;
		padding-left: 14px;
		@extend %clearfix;
		margin-bottom: 15px;
	}

	&-sitemap-subitem{
		position: relative;
		display: block;
		@include span(8);
		@include breakpoint($desktop-width){
			float: none;
			width: 100%;
			margin: 0;

		}
	}

	&-sitemap-subitem:before{
		@include add-content(8px,1px);
		background: $base-border-color-darken;
		position: absolute;
		top: 17px;
		left: -14px;
		display: none;

		@include breakpoint($desktop-width){
			display: block;
		}
	}

	&-sitemap-subitem:nth-child(3n){
		@include last;
		@include breakpoint($desktop-width){
			float: none;
			width: 100%;
			margin: 0;

		}
	}

	

	&-copyright{
		display: block;
		padding: 15px;
		text-align: center;
		font-size: $base-fontsize-ssmall;
		border-top: $base-border-color-lighten 1px solid;
		@include breakpoint($tablet-width){
			padding: 8px 0;
		}
	}
}
