.go-top-btn{
	display: none;
	position: fixed;
	bottom: 50px;
	left: 50%;
	margin-left: 550px;
	@include border-radius(50%);
	color: $base-fontcolor-highlight;
	font-size: $base-fontsize-small;
	text-align: center;
	background: $base-bgcolor-lighten;
	width: 70px;
	height: 70px;
	i{
		display: block;
		font-size: 40px;
		color: $base-fontcolor-highlight;
		position: relative;
		top: 3px;
	}

	span{
		position: relative;
		top: -5px;
	}

	&:hover{
		color: $base-fontcolor-bright;
		background: $base-bgcolor-heightlight;

		i{
			color: $base-fontcolor-bright;
		}
	}
}
