.article-list-sort{
	display: block;
	text-align: center;
	padding: 10px 0 40px 0;
	>li{
		@include inline-block;
		@extend .border-right-1;
		@extend .border-color;
		@extend .border-style-solid;

		&:last-child{
			border: none;
		}
	}

	a{
		@include inline-block;
		padding: 0 45px;
		@extend .font-size-24;
		@extend .line-height-24;
		@include links{		
			@extend .fontcolor-black;
		}

		@include links-hover{
			@extend .text-decoration-underline;
		}

		&.active{
			@extend .fontcolor-highlight;
			@extend .text-decoration-none;
		}
	}
}

.article-list{
	display: block;
	//padding: 0 0 0 5px;
	//@extend %clearfix;

	&:after{
		content: " ";
		display: block;
		clear:both;
	}
}

.article-list-item{
	float: left;
	position: relative;
	width: 222px;
	padding: 10px;
	margin-right: 21px;
	margin-bottom: 18px;
	@extend .border-1;
	@extend .border-color;
	@extend .border-style-solid;
	@extend .border-radius-sm;
	z-index: 1;

	>a{
		display: block;
		padding: 0 0 11px 0;
		margin-bottom: 10px;
		border-width: 0 0 2px 0;
		@extend .border-color;
		@extend .border-style-dotted;
	}

	&:nth-child(3n){
		margin-right: 0;
	}
	@include breaks{
		margin-right: 23px;
		&:nth-child(3n){
			margin-right: 23px;
		}
		&:nth-child(4n){
			margin-right: 0;
		}
	}
	

	&:before{
		content:attr(data-tag);
		position: absolute;
		right: -15px;
		top: -10px;
		display: block;
		width: 40px;
		height: 40px;
		@extend .fontcolor-highlight;
		@extend .font-size-12;
		@extend .line-height-20;
		padding: 12px 0 8px 1px;
		text-align: center;
		overflow: hidden;
		@extend .text-transform-uppercase;
		background: url(../img/article-tag.png) no-repeat center;
	}

	&[data-tag=""]:before{
		display: none;
	}

	
}

.article-list-img{
	display: block;
	width: 200px;
	height: 133px;
	overflow: hidden;
	>img{
		min-width: 100%;
	}
}

.article-list-title{
	display: block;
	position: relative;
	top: -2px;
	height: 48px;
	padding: 0 5px;
	margin-bottom: 5px;
	overflow: hidden;
	@extend .font-size-15;
	@extend .line-height-24;
	@extend .fontcolor-black;
	@extend .font-weight-normal;
}

.article-list-quote{
	display: block;
	height: 60px;
	padding: 0 5px;
	overflow: hidden;
	@extend .font-size-13;
	@extend .line-height-20;
	@extend .fontcolor-gray;
}

.article-list-author{
	@include inline-block;
	width: 150px;
	>a{
		display: block;
		&:after{
			content:attr(title);
			width: 100px;
			@include inline-block;
			@extend %text-overflow;
			@extend .font-size-12;
			@extend .line-height-24;
			@extend .fontcolor-black;
		}
	}
}

.article-list-hot-score{
	@include inline-block;
	width: 45px;
	text-align: right;
	padding-right: 5px;
	@extend .font-size-13;
	@extend .line-height-24;
	@extend .font-weight-bold;
	i{
		margin-right: 3px;
	}

	.article-list-item[data-article-cate="1"] &{
		color: nth($category-color-1,1);
	}

	.article-list-item[data-article-cate="2"] &{
		color: nth($category-color-2,1);
	}

	.article-list-item[data-article-cate="3"] &{
		color: nth($category-color-3,1);
	}

	.article-list-item[data-article-cate="4"] &{
		color: nth($category-color-4,1);
	}

	.article-list-item[data-article-cate="5"] &{
		color: nth($category-color-5,1);
	}
}

.article-list-author-img{
	@include inline-block;
	@extend .border-radius-half;
	margin-right: 8px;
	width: 30px;
	height: 30px;
	overflow: hidden;
	img{
		@extend .border-radius-half;
	}
}

.article-list-category{
	position: relative;
	top: -12px;
	left: -16px;
	//z-index: 3;
	@include inline-block;
	padding: 1px 5px 0 5px;
	@extend .fontcolor-white;
	@extend .font-size-12;
	@extend .line-height-18;
	>em{
		position: relative;
		top: -1px;
		padding: 0 3px 0 0;
		@extend .font-size-13;
		@extend .text-transform-uppercase;
		@extend .font-style-normal;
		@extend .font-weight-bold;
		vertical-align: middle;
		&:before{
			content:" ";
			position: absolute;
			display: block;
			width: 0;
			height: 0;
			bottom: -9px;
			left: -11px;
			overflow:hidden;
			border-width: 6px;
			@extend .border-style-solid;
			z-index: -1;
		}
	}

	&:before, &:after{
		content:" ";
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		overflow:hidden;
		border-width: 10px;
		@extend .border-style-solid;
	}

	&:before{
		top: 0;
		right: -10px;
	}

	&:after{
		bottom: 0;
		right: -10px;
	}

	.article-list-item[data-article-cate="1"] &{
		background: nth($category-color-1,1);
		em:before{border-color: transparent darken(nth($category-color-1,1),10) transparent transparent;}
		&:before{
			border-color: nth($category-color-1,1) transparent transparent transparent;
		}
		&:after{
			border-color: transparent transparent nth($category-color-1,1) transparent;
		}
	}

	.article-list-item[data-article-cate="2"] &{
		background: nth($category-color-2,1);
		em:before{border-color: transparent darken(nth($category-color-2,1),10) transparent transparent;}
		&:before{
			border-color: nth($category-color-2,1) transparent transparent transparent;
		}

		&:after{
			border-color: transparent transparent nth($category-color-2,1) transparent;
		}
	}

	.article-list-item[data-article-cate="3"] &{
		background: nth($category-color-3,1);
		em:before{border-color: transparent darken(nth($category-color-3,1),10) transparent transparent;}
		&:before{
			border-color: nth($category-color-3,1) transparent transparent transparent;
		}
		&:after{
			border-color: transparent transparent nth($category-color-3,1) transparent;
		}
	}

	.article-list-item[data-article-cate="4"] &{
		background: nth($category-color-4,1);
		em:before{border-color: transparent darken(nth($category-color-4,1),10) transparent transparent;}
		&:before{
			border-color: nth($category-color-4,1) transparent transparent transparent;
		}
		&:after{
			border-color: transparent transparent nth($category-color-4,1) transparent;
		}
	}

	.article-list-item[data-article-cate="5"] &{
		background: nth($category-color-5,1);
		em:before{border-color: transparent darken(nth($category-color-5,1),10) transparent transparent;}
		&:before{
			border-color: nth($category-color-5,1) transparent transparent transparent;
		}
		&:after{
			border-color: transparent transparent nth($category-color-5,1) transparent;
		}
	}

	.article-list-item[data-article-cate="6"] &{
		background: nth($category-color-6,1);
		em:before{border-color: transparent darken(nth($category-color-6,1),10) transparent transparent;}
		&:before{
			border-color: nth($category-color-6,1) transparent transparent transparent;
		}
		&:after{
			border-color: transparent transparent nth($category-color-6,1) transparent;
		}
	}

	.article-list-item[data-article-cate="7"] &{
		background: nth($category-color-7,1);
		em:before{border-color: transparent darken(nth($category-color-7,1),10) transparent transparent;}
		&:before{
			border-color: nth($category-color-7,1) transparent transparent transparent;
		}
		&:after{
			border-color: transparent transparent nth($category-color-7,1) transparent;
		}
	}

	.article-list-item[data-article-cate="8"] &{
		background: nth($category-color-8,1);
		em:before{border-color: transparent darken(nth($category-color-8,1),10) transparent transparent;}
		&:before{
			border-color: nth($category-color-8,1) transparent transparent transparent;
		}
		&:after{
			border-color: transparent transparent nth($category-color-8,1) transparent;
		}
	}
}

.more-issue-btn{
	position: relative;
	width: 300px;
	@extend .font-size-15;
	@extend .link-style-rw;
	@extend .padding-xl;
	display: block;
	margin: 30px auto;
	margin-bottom: 50px;
	text-align: center;
	@include transition(all 0.3s ease);
	.arrow-dot-icon{
		position: absolute;
		top: 50%;
		right: 15px;
		display: block;
		//@include transform(rotate(90deg));
		margin-top: -12px;
	}

	.arrow-dot{
		fill: $base-fontcolor-highlight;

	}

	@include links-hover{
		.arrow-dot{
			fill: $base-fontcolor-white;
		}
	}
	&.has-disable{
		@extend .link-style-gg;
	}
}

//

.article-authors{
	#author-list &{
		margin-bottom: 70px;
	}
}

.article-list-head-title{
	@extend %title-hide;
}

.article-authors-title{
	position: relative;
	display: block;
	width: 200px;
	padding: 10px 70px 10px 0;
	@extend .font-size-15;
	@extend .line-height-30;
	@extend .fontcolor-black;
	@extend .font-weight-normal;
	border-width: 0 0 2px 0;
	@extend .border-color;
	@extend .border-style-dotted;
	@extend %text-overflow;

	#author-list &{
		width: 100%;
		padding: 10px 0 20px 0;
		margin-bottom: 50px;
		text-align: center;
		//border-width: 0 0 1px 0;
		//border-style: solid;
		@extend .font-size-24;
	}
}

.article-authors-morebtn{
	position: absolute;
	right: 0;
	top: 10px;
	display: block;
	padding: 0 0 0 20px;
	width: 60px;
	text-align: right;
	@extend .font-size-13;
	@extend .text-transform-uppercase;
	@extend .fontcolor-highlight;
	@extend .font-weight-bold;
	background: url(../img/arrow-dot.svg) no-repeat center left;
	@include links-hover{
		@extend .text-decoration-underline;
	}
}

.article-authors-list{
	display: block;
	text-align:center;
	width: 200px;
	#author-list &{
		width: 100%;
	}
}

.article-authors-list-item{
	position: relative;
	@include inline-block;
	width: 200px;
	height: 200px;
	text-align:center;
	border-width: 0 0 2px 0;
	@extend .border-color;
	@extend .border-style-dotted;

	#author-list &{
		border:none;
		width: 150px;
		>a{
			&:hover{
				background-position: 0 10px;
			}
		}
	}

	>a{
		display: block;
		width: 100%;
		height: 200px;
		padding: 40px 0 0 0;
		&:after{
			content:attr(title);
			display: block;
			text-align: center;
			@extend %text-overflow;
			@extend .font-size-13;
			@extend .line-height-30;
			@extend .fontcolor-gray;
		}

		&:hover{
			background: url(../img/check.png) no-repeat 15px 15px;
		}
	}
}

.article-authors-list-author-img{
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	margin-bottom: 5px;
	@extend .border-radius-half;
	>img{
		width: 100%;
		@extend .border-radius-half;
	}
}

.affix {
	position: fixed;
	top: 100px;
	left: initial;
}

