#headline{
	margin-bottom: 40px;
	@extend %clearfix;
}

#headline{
	#aside{
		display: none;
	}

	#main{
		@include span(24 last);
	}
	@include breaks(){
		#aside{
			display: block;
		}

		#main{
			@include span(19 last);
		}
	}
	
}



